[user]
  name = Ryan Lovelett
  email = ryan@wahvee.com
[core]
  autocrlf = input
  safecrlf = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  tagcommit = !sh -c 'git rev-list $0 | head -n 1'
[color]
  ui = true
