[submodule "config-common/.config/.tmux/plugins/tpm"]
	path = config-common/.config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config-common/.config/zsh/plugins/zsh-users/zsh-syntax-highlighting"]
	path = config-common/.config/zsh/plugins/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config-common/.config/zsh/plugins/zsh-users/zsh-history-substring-search"]
	path = config-common/.config/zsh/plugins/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "config-common/.config/zsh/plugins/zsh-users/zsh-completions"]
	path = config-common/.config/zsh/plugins/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "config-common/.config/zsh/plugins/zsh-users/zsh-autosuggestions"]
	path = config-common/.config/zsh/plugins/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config-common/.config/zsh/plugins/mattmc3/zephyr"]
	path = config-common/.config/zsh/plugins/mattmc3/zephyr
	url = https://github.com/mattmc3/zephyr.git
[submodule "config-common/.config/zsh/plugins/ohmyzsh/ohmyzsh"]
	path = config-common/.config/zsh/plugins/ohmyzsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "config-common/.config/zsh/plugins/Aloxaf/fzf-tab"]
	path = config-common/.config/zsh/plugins/Aloxaf/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "config-common/.config/fzf"]
	path = config-common/.config/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "config-common/.config/.pyenv"]
	path = config-common/.config/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "config-common/.config/nvm"]
	path = config-common/.config/nvm
	url = https://github.com/nvm-sh/nvm.git
