[user]
  name = Ryan Lovelett
  email = ryan@lovelett.me
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN3DMlDirKrj64NN3ULz/4ymvKDoXZ8gdOlYxZVmuFxu
[alias]
  unstage = reset HEAD
  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
[branch]
  sort = -committerdate
[color]
  ui = true
[column]
  ui = auto
[commit]
  gpgsign = true
  verbose = true
[core]
  safecrlf = true
  ignorecase = false
  pager = less --raw-control-chars
  excludesfile = ~/.gitignore
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  recurseSubmodules = false
  prune = true
  pruneTags = true
  all = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[filter "rcs-keywords"]
  clean  = .git_filters/rcs-keywords.clean
  smudge = .git_filters/rcs-keywords.smudge %f
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
[help]
  autocorrect = prompt
[init]
  defaultBranch = main
;[merge]
;  conflictstyle = zdiff3
[pager]
  branch = false
  diff = false
  show = false
[protocol]
  version = 2
[pull]
  ff = only
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[rebase]
  ;autoSquash = true
  autoStash = true
  updateRefs = true
[rerere]
  enabled = true
  autoupdate = true
[tag]
  sort = version:refname
[tar "tar.xz"]
  command = xz -c
