@import url("./dracula.css");

* {
  border-radius: 0;
  font-family: "SauceCodePro Nerd Font", monospace;
  font-size: 16px;
  padding: 0;
  margin: 0;
  min-height: 0;
}

window#waybar {
  background: none;
}

/* ======================= */
/*      Workspaces UI      */
/* ======================= */

#workspaces {
  background: @background;
  border: 2px solid @non-text;
  border-radius: 10px;
  padding: 5px;
}

window box box widget box button label {
  padding: 0 5px 0 0;
  min-width: 24px;
  border: 0px;
}

#workspaces button {
  color: @comment;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.urgent:hover {
  background: none;
  color: @foreground;
}

#workspaces button.active {
  color: @purple;
}

#workspaces button.urgent {
  color: @red;
}

tooltip {
  background: @background;
  border: 2px solid @non-text;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

/* ======================= */
/*     Idle Inhibitor      */
/* ======================= */

#idle_inhibitor {
  color: @foreground;
  background: @background;
  border: 2px solid @non-text;
  border-radius: 10px;
  min-width: 24px;
  padding: 5px;
}
