/* vim:fileencoding=utf-8:foldmethod=marker
*/

@define-color line-highlight rgba(68, 71, 90, 0.46); /*#44475A75;*/
@define-color border rgba(68, 71, 90, 0.67); /*#44475AAA;*/
@define-color non-text rgba(255, 255, 255, 0.102); /*#FFFFFF1A;*/

@define-color background-lighter #424450;
@define-color background-light #343746; /* HSV(230, 25.71, 27.45) */
@define-color background #282a36;
@define-color background-dark #21222c;  /* HSV(234.55, 25, 17.25) */
@define-color background-darker #191a21;/* HSV(234.55, 25, 13) */

@define-color foreground #f8f8f2;
@define-color selection #44475a;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

/* Define colors */ /* {{{ */
/* @define-color background  rgba(21, 21, 32, 0.75); */
/* @define-color background  #151520; */
/* @define-color warning     #f38ba8; */
/* @define-color caution     #45475a; */
/* @define-color performance #f5c2e7; */
/* @define-color audio       #cba6f7; */
/* @define-color misc        #94e2d5; */
/* @define-color date        #a6e3a1; */
/* @define-color work        #b4befe; */
/* @define-color window      #b4befe; */
/* @define-color resize      #eba0ac; */
/* @define-color process     #89b4fa; */
/* }}} */

/* Reset all styles */ /* {{{ */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
} /* }}} */

/* Main bar keyframes */ /* {{{ */
/* Keyframes for main bar criticals */
@keyframes blink-critical-text {
  to {
    color: @red;
  }
}

/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
  to {
    color: @selection;
  }
} /* }}} */

/* Main bar defaults */ /* {{{ */
#waybar.waybar {
  background: @background;
  font-family: "MesloLGSDZ Nerd Font Mono";
  font-size: 14pt;
  font-weight: 500;
  border-radius: 10pt;
  border: 2px solid @border;
}

#waybar.waybar button {
  font-family: "MesloLGSDZ Nerd Font Mono";
  font-size: 14pt;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
} /* }}} */

/* Main bar modules */ /* {{{ */
#waybar.waybar #network,
#waybar.waybar #clock,
#waybar.waybar #cpu,
#waybar.waybar #memory.swap,
#waybar.waybar #memory.ram,
#waybar.waybar #submap,
#waybar.waybar #pulseaudio,
#waybar.waybar #temperature,
#waybar.waybar #tray,
#waybar.waybar #window,
#waybar.waybar #disk {
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 4px;
  padding-top: 4px;
  background: transparent;
}

#waybar.waybar #tray {
  padding-right: 6pt;
}

/* }}} */

/* Module colors */ /* {{{ */
#waybar.waybar #cpu,
#waybar.waybar #temperature,
#waybar.waybar #memory.ram,
#waybar.waybar #memory.swap,
#waybar.waybar #disk,
#waybar.waybar #network {
  color: @foreground;
}

#waybar.waybar #pulseaudio {
  color: @purple;
}

#waybar.waybar #clock {
  color: @yellow;
}

#waybar.waybar #window {
  color: @purple;
  margin-top: -0px;
}

#waybar.waybar #network.info {
  padding-right: 10px;
  padding-left: 10px;
  color: @selection;
  background: transparent;
}

#waybar.waybar #network.info.wifi.normal,
#waybar.waybar #network.info.ethernet {
  color: @foreground;
  padding-right: 15px;
}

#waybar.waybar #network.info.wifi {
  color: @red;
  padding-right: 15px;
} /* }}} */

/* Submap */ /* {{{ */
#waybar.waybar #submap.󰲏 {
  color: @pink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#waybar.waybar #submap. {
  color: @yellow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}
/* }}} */

/* Main bar criticals */ /* {{{ */
#waybar.waybar #workspaces button.urgent,
#waybar.waybar #workspaces button.special.urgent,
#waybar.waybar #memory.swap.critical,
#waybar.waybar #memory.ram.critical,
#waybar.waybar #cpu.critical,
#waybar.waybar #temperature.critical {
  color: @selection;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
} /* }}} */

/* Main bar warnings */ /* {{{ */
#waybar.waybar #pulseaudio.output.muted,
#waybar.waybar #pulseaudio.input.source-muted {
  color: @selection;
}

/* Workspace */ /* {{{ */
/* Default workspace settings */
#waybar.waybar #workspaces button {
  color: @selection;
  background: transparent;
  border: 1.5px solid transparent;
  padding-left: 2pt;
  padding-right: 2pt;
  border-radius: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 0.25s ease;
}

/* Focused workspace */
#waybar.waybar #workspaces button.visible {
  color: @purple;
}

/* Focused workspace & monitor */
#waybar.waybar #workspaces button.active {
  color: @purple;
  border: 1.5px solid @selection;
}

/* Style when cursor is on the button */
#waybar.waybar #workspaces button:hover {
  color: @purple;
}

/* Special workplace animation */
#waybar.waybar #workspaces button.special.active {
  border: 1.5px solid transparent;
  color: @purple;
  transition: all 0s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
} /* }}} */

/* Custom slashes as spacers */ /* {{{ */
#waybar.waybar #custom-spacer1,
#waybar.waybar #custom-spacer2,
#waybar.waybar #custom-spacer3 {
  font-weight: bold;
  color: @comment;
  background: transparent;
}
/* }}} */

/* Custom tray icon */ /* {{{ */
#waybar.waybar #custom-trayicon {
  font-size: 20pt;
  font-weight: bold;
  font-style: italic;
  color: @cyan;
  background: transparent;
  /* padding-right: 6pt; */
  /* padding-left: 2pt; */
}
/* }}} */

/* Tooltip */ /* {{{ */
tooltip {
  background: @background;
  border: 3px solid @purple;
  border-radius: 8px;
  font-weight: 500;
  font-family: "MesloLGSDZ Nerd Font Mono";
}

#waybar.waybar #tray menu {
  background: @background;
  border: 3px solid @selection;
  border-radius: 8px;
} /* }}} */

